<style>
* { font-family: 'Roboto', sans-serif; }
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
/*table, tr, td {border: 1px solid black;}*/
#circle {
    background: {{ trelloWipColor }};
    width: 110px;
    height: 110px;
    line-height: 95px;
    border-radius: 50%;
    color:black;
    border: solid 3px white;
    box-shadow:0 0 5px black;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-left: 200px;
}
#circle .innerTEXT{
    position:relative;
    top:3px;
    left:-2px;
    color:white;
    font-weight: bold;
    font-size: 36pt;
    text-shadow:2px 2px 2px black;
}

.avatar {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
    margin-right: 10px;
    height: 36px;
    width: 36px;
    margin-bottom: 8px;
}
</style>

<h3 style="text-align: center; font-style: italic;">Sesol-2 Code Review</h3>

<hr>

<div>
    <a href="http://src-ic-master:8089/view/Sesol-2/job/sagas2.pipeline/" target="_blank" style="text-decoration: none; display: table; margin: 0 auto;">
        <!--suppress HtmlUnknownTarget -->
        <img src="public/images/jenkins.png" style="height: 36px; margin: 0 0 8px 10px;">
        <img src="{{ imagemJenkins }}" class="avatar" style="margin-bottom: 8px;">
    </a>
</div>

<hr>

<div style="color: navy;">
    <a href="https://trello.com/b/ty9DwoOK/sprint" target="_blank" style="text-decoration: none; display: table; margin: 0 auto;">
    <table style="margin: 0 auto;">
        <tr>
            <td colSpan="3" style="text-align: center;">
                <div id="circle"><span class="innerTEXT">{{ trelloTotalWip }}/{{ trelloMaxWip }}</span></div>
            </td>
            <td style="width: 200px; font-size: x-small">
                <table>
                    <tr>
                        <td style="text-align: left;">Trello WIP</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Em Andamento:</td>
                        <td>{{ trello.wipEmAndamento }}/{{ trello.maxWipEmAndamento }}</td>
                        <td>{{ trello.wipEmAndamentoIncidentes }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Em Testes:</td>
                        <td>{{ trello.wipEmTestes }}/{{ trello.maxWipEmTestes }}</td>
                        <td>{{ trello.wipEmTestesIncidentes }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </a>
</div>

<hr>

<link rel="stylesheet" href="public/lib/chartist.min.css">
<script src="public/lib/chartist.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/lib/chartist-plugin-tooltip.css">
<script type="text/javascript" src="public/lib/chartist-plugin-tooltip.min.js"></script>

<div style="text-align: center;">
    <div id="commits" class="ct-chart ct-perfect-fourth"></div>
    <span style="font-size: x-small">
        {{ grafico.legenda }}
    </span>

    <!--suppress HtmlUnknownTag, CssUnusedSymbol -->
    <style>
        #commits .ct-bar { stroke-width: 40px; }
        #commits .ct-series-a .ct-bar { stroke: {{ grafico.series.a.cor }}; }
        #commits .ct-series-b .ct-bar { stroke: {{ grafico.series.b.cor }}; }
        #commits .ct-series-c .ct-bar { stroke: {{ grafico.series.c.cor }}; }
        #commits .ct-series-d .ct-bar { stroke: {{ grafico.series.d.cor }}; }
        #commits .ct-series-e .ct-bar { stroke: {{ grafico.series.e.cor }}; }
        #commits {
            height: 400px;
            width: 80%;
            margin: 0 auto;
        }
    </style>
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction, ES6ModulesDependencies -->
    <script>
        let data = {
            labels: [].concat({{{ grafico.labels }}}),
            series: [
                {{{ grafico.series.a.dados }}},
                {{{ grafico.series.b.dados }}},
                {{{ grafico.series.c.dados }}},
                {{{ grafico.series.d.dados }}},
                {{{ grafico.series.e.dados }}}
            ]
        };

        let options = {
            seriesBarDistance: 0,
            showLabel: true,
            stackBars: true,
            plugins: [
                Chartist.plugins.tooltip()
            ]
        };

        new Chartist.Bar('#commits', data, options);
    </script>
</div>

<div style="text-align: center;">
    <div id="commitsPorUsuarioSempre" class="ct-chart ct-perfect-fourth"></div>
    <span style="font-size: x-small">
        {{ graficoPorUsuarioSempre.legenda }}
    </span>

    <!--suppress HtmlUnknownTag, CssUnusedSymbol -->
    <style>
        #commitsPorUsuarioSempre .ct-bar { stroke-width: 40px; }
        #commitsPorUsuarioSempre .ct-series-a .ct-bar { stroke: {{ graficoPorUsuarioSempre.series.a.cor }}; }
        #commitsPorUsuarioSempre .ct-series-b .ct-bar { stroke: {{ graficoPorUsuarioSempre.series.b.cor }}; }
        #commitsPorUsuarioSempre .ct-series-c .ct-bar { stroke: {{ graficoPorUsuarioSempre.series.c.cor }}; }
        #commitsPorUsuarioSempre .ct-series-d .ct-bar { stroke: {{ graficoPorUsuarioSempre.series.d.cor }}; }
        #commitsPorUsuarioSempre .ct-series-e .ct-bar { stroke: {{ graficoPorUsuarioSempre.series.e.cor }}; }
        #commitsPorUsuarioSempre {
            height: 400px;
            width: 80%;
            margin: 0 auto;
        }
    </style>
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction, ES6ModulesDependencies -->
    <script>
        let dataPorUsuario = {
            labels: [].concat({{{ graficoPorUsuarioSempre.labels }}}),
            series: [
                {{{ graficoPorUsuarioSempre.series.a.dados }}},
                {{{ graficoPorUsuarioSempre.series.b.dados }}},
                {{{ graficoPorUsuarioSempre.series.c.dados }}},
                {{{ graficoPorUsuarioSempre.series.d.dados }}},
                {{{ graficoPorUsuarioSempre.series.e.dados }}}
            ]
        };

        let optionsPorUsuario = {
            seriesBarDistance: 0,
            showLabel: true,
            stackBars: true,
            plugins: [
                Chartist.plugins.tooltip()
            ]
        };

        new Chartist.Bar('#commitsPorUsuarioSempre', dataPorUsuario, optionsPorUsuario);
    </script>
</div>

